<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="GitHub" value="https://nuget.pkg.github.com/qideqian/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="MSTest*" />
      <package pattern="OpenAI" />
      <package pattern="Newtonsoft.*" />
      <package pattern="StackExchange.*" />
      <package pattern="coverlet.*" />
      <package pattern="AlibabaCloud.*" />
      <package pattern="aliyun-net-sdk-*" />
      <package pattern="Azure.AI.*" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="GitHub">
      <package pattern="XY.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
